/* 기본 설정 */
*{margin: 0; padding: 0;}
html{scroll-behavior: smooth;}
body{overflow-x: hidden;}
a{text-decoration: none; color: inherit;}
ul, li{list-style: none;}
.container{width: 100vw; height: 100vh;}
.flex{display: flex;}

/* header */
header{width: 100vw; height: 100px; line-height: 100px; border-bottom: 1px solid #659CFF; background-color: white; z-index: 999; color: #4887fd; font-size: 24px; font-weight: bold; position: fixed;}
#logo{margin: 0 auto; width: 76vw;}

section{width: 100vw;}
.contents{width: 70vw; margin: 0 auto; background-color: #cddfff; padding: 100px 70px; position: relative;}

.introduction_contents{height: 55vh; margin-top: 50px; padding-bottom: 100px; margin-bottom: 150px; border-bottom: 2px solid #ffffff;}
#introduction_text_box{position: relative; display: flex; justify-content: space-between;  height: 360px; padding: 40px;}
#introduction_text_title{font-size: 50px; color: #4887fd; font-weight: bold;}
#introduction_text_ch2{font-size: 26px;}
p{font-size: 20px;}
#data_introduction_icon{ position: relative; width: 45%;}
#data_introduction_icon>img{position: absolute; width: 100%;}


#input_image_text{font-size: 24px; margin-bottom: 50px;}
#input_image_box{position: relative; top: 0; cursor: pointer; width: 30%; height: 350px; padding: 20px; border-radius: 24px; box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.119); background-color: rgb(255, 255, 255);}
.output_image_box{ position: relative; width: 30%; height: 350px; padding: 20px; border-radius: 24px; box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.119); background-color: rgb(255, 255, 255);}

.flex{display: flex; position: relative; display: flex; justify-content: space-around;}

/* input img icon */
#img_input_icon{position: absolute; width: 63%; top: 50%; left: 50%; transform: translate(-50%, -50%);}
/* output img icon  */
.output_image_box{position: relative; top: 0;}
#img_loading_icon{position: absolute; width: 70%; height: 400px; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.output_image_box> img{width: 60%;}
/* go -> button design */
#ajaxCall{width: 130px; height: 44px; background-color: #82aeff; color: white; font-size: 16px; font-weight: bold; border: 1px solid  #82aeff; border-radius: 100px; box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.253); float: right; margin: 50px 0px; cursor: pointer;}


.blink{z-index: 9; position: absolute; top: 0px; left: 0px; border-radius: 23px; width: 99.5%; height: 387px; border: 2px solid rgb(34 252 145);}
@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blink-effect 1.5s step-end infinite;
}



/* 결과 값 보내는 컨텐츠 */
.flex1{display: flex; justify-content: space-around;}
#result_box{width: 500px; height: 200px; font-size: 16px; padding: 13px; background-color: white; border-radius:  18px ; box-shadow: 10px 10px 9px 0px rgba(0, 0, 0, 0.119);   margin-top: 50px;}



/* footer */
footer{width: 100vw; height: 60px; background-color: #c8c8d3; color: rgb(255, 255, 255); line-height: 60px; text-align: center;}